body {
  display: flex;
  flex-direction: column;
  align-items: center; /* centrerer dem vandret */
  min-height: 100vh; /* så de kan sprede sig over hele højden */
  background-color: rgb(57, 57, 57);
  gap: 0.5rem;
}

div:first-of-type {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.mainPart {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  max-width: 300px;
  width: 300px;
  background-color: gray;
  height: 50vh;
  border-radius: 30px;
  text-align: center;
}

input,
button {
  border: black; /* fjerner kantlinjen */
  /* outline: none; fjerner den blå ramme ved fokus */
  background: #5f5959; /* lys grå baggrund */
  padding: 0.5rem 1rem; /* luft inde i feltet */
  border-radius: 8px;
  color: white;
}

.delete-btn {
   background: rgb(73, 73, 73);
  color: white;
  font-weight: bold;
  border-radius: 50%;   /* rund knap */
  width: 20px;
  height: 20px;
  padding: 0;
}

h1 {
  font-size: 50px;
  color: white;
}

h2 {
  font-size: 20px;
  font-weight: lighter;
  color: white;
}

h3 {
  font-size: 16px;
}

li {
  list-style: none;
  padding-right: 40px;
   display: flex;
  align-items: center;
  gap: 0.5rem;       /* mellemrum mellem elementerne */
  justify-content: space-between;
}


